<div class="container">
<h4 class="px-3 m-5">
  <span class="bg-light">
    会員一覧
  </span>
</h4>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <% @customers.each do |customer| %>
  <tbody>
    <tr>
      <th scope="row">
        <span>
          <%= customer.id %>
        </span>
      </th>
      <td>
        <span>
          <%= link_to customer.fullname, admin_customer_path(customer.id) %>
        </span>
      </td>
      <td>
        <span>
          <%= customer.email %>
        </span>
      </td>
      <td>
        <span>
          <% if customer.is_deleted == false %>
            <span class="text-success font-weight-bold">有効</span>
          <% else %>
            <span class="text-secondary font-weight-bold">退会</span>
          <% end %>
        </span>
      </td>
    </tr>
  </tbody>
<% end %>
</table>
</div>
  <div class="offset-md-5 my-5">
    <%= paginate @customers %>
  </div>
</div>