<!--個人の注文履歴をつくる場所-->
<div class="container">
  <h4 class="m-4">
    <span><%= @order_detail.order.customer.fullname %>さんの注文履歴</span>
  </h4>
  <div>
  
    <table class="table">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= link_to order_detail.updated_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order_detail.order_id) %></td>
          <!--link先のidが上手くいっていない。2から始まったり,4が重複していたり11があったりする。rails c でOrderDetail.allをするとidは10個まで。-->
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.order.status_i18n %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>